.body{
      background-image: linear-gradient (#419387 15%, #d9dbd6 15%);
      
      height: 100vh;
      
      
}



.boolz{
      margin-top: 32px;
}

.userList{
      /* height: 500px; */
      border:1px solid black;
}

.msgList{
      /* height: 500px; */
      border:1px solid black;
}

.top{
      /* height: 50px; */
      border:1px solid black;
}

.top i{
      font-size: 24px;
      padding-right: 8px;
}

input{
      width: 100%;
      line-height: 36px;
      border: none;
}

.icon-gray{
      color: #b1b1b1;
}

.contacts ul{
      margin: 0;
      padding: 0;
      list-style: none;

}

.contacts ul li{
      /* height: 80px; */
      padding: 8px;
      border-bottom: 1px solid #ccc;
}



.avatar{
      width: 72px;
      border-radius: 50%;
}

.user-header {
     background-color:#eaeaea;
}

.alert-msg {
      background-color: #9fd8f8;
      margin-top: 12px;
}

.alert-msg .container-bell {
      color: #9fd8f8;
      background-color: #fff;
      height: 36px;
      line-height: 36px;
      font-size: 20px;
      border-radius: 50%;
      text-align: center;
      min-width: 36px;
      margin-right: 12px;

}

/* ricerca */

.search-bar  {
      background-color: #fff;
      border: 1px solid #f0efef;
      margin-top: 12px;

}
.search-bar .icon-gray {
      padding: 0 12px;
}


/* area messaggi */

.message-area {
      background-image: url(../img/mine.jpg);
      background-size: cover;
      overflow-y:scroll;
      height: 100vh;

}

.received{
      align-self: flex-start;
}

.sent{
      align-self: flex-end;
}

 .message-area .received{
      background-color: rgb(221, 198, 198);
      margin-left: 24px;
}
 .message-area .sent{
      background-color: rgb(148, 197, 13);
      margin-right:24px;
}




.received, .sent{
      border-radius: 8px;
      padding: 8px 24px;
      margin-top: 12px;
}
.date{
      font-size: 12px;
}


/* input text */

.input-text{
      padding: 12px;
      background-color: thistle;

}

.input-text i{
      padding: 0 24px;
      color: gray;
}

.input-text input{
      border-radius: 8px;
      border: none;
}
